{% extends 'base_layout.html' %}

<!-- need to add the block content language so it knows where to be intserted in the base_layout file -->
{% block content %} 
    <h1>Article list</h1>
    <div class="articles">
        <!-- {%  curly % % curly -- this is used for python code like for loops.  two sets of curly braces {{ -- this is used for actual date, like article.title -->
        {% for article in articles %}
        <div class="article">
            <h2><a href="{% url 'articles:detail' slug=article.slug %}">{{ article.title }}</a></h2>
            <p>{{ article.snippet }}</p>
            <p>{{ article.date }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}